# Bağımlılıklar
node_modules/
.pnp
.pnp.js

# Build çıktıları
.next/
out/
build/

# Debug ve Loglar
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Çevresel Değişkenler (Çok Önemli!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# Sistem dosyaları
.DS_Store
Thumbs.db
