# --- Python (FastAPI) ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/

# --- JavaScript / TypeScript (Vite) ---
node_modules/
dist/
dist-ssr/
*.local

# Vite spesifik env dosyaları
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Genel Dosyalar ---
.DS_Store
.vscode/
.idea/